<div class="container-div">
  <h1>North-Indian Style Kundali Component</h1>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Demo">
      <div style="display: flex;">
        <div style="flex-grow: 0.5  ;">
          <mat-card class="k-card" style="max-width: 600px; align-content: center;margin: 3%;">
            <mat-card-header>
              <mat-card-title>Lagna Kundali</mat-card-title>
            </mat-card-header>
            <lib-kchart-north [data]="staticChartData" style="border-color: black; border-width: 5px;" />
          </mat-card>
        </div>
        <div style="display: flex; flex-direction: column; ">
          <div style="display: flex; flex-direction: column;  max-height: 20;">
            <b>Install:</b>
            <p class="flex-auto truncate db ma0"><code>npm i <!-- -->ngx-kundali-north-chart</code></p>
          </div>
          <div style="display: flex; flex-direction: column;  max-height: 20;">
            <b>npm:</b>
            <p><a target="_blank"
                href="https://www.npmjs.com/package/ngx-kundali-north-chart">ngx-kundali-north-chart</a></p>
          </div>
          <div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="About"><app-about /></mat-tab>
  </mat-tab-group>
</div>