<h3>Inspiration</h3>
<p>While browsing through many Astrology websites, I observe that many of them didn't have good looking interactive vedic-kundali chart controls.</p>
<p>Most of them have an static image and it didn't even allowed us to switch between English and Sanskrit. </p>
<br/>
<p>Hence this control!. This is free and easily injectable.</p>
<p><a href="https://github.com/dhirajdusane/ngx-kundali-north-chart" target="_blank">Git Repo</a></p>
<h3>Future Plans</h3>
<p>Soon I will be coming with:</p>
<ol>
    <li>Multi-lingual support</li>
    <li>Arudha Padas</li>
    <li>Graha Drishti</li>
    <li>Rashi Drishti</li>
    <li>Argala</li>
    <li>Start chart from different houses</li>
    <li>React support</li>
    <li>Popping up events to parent control</li>
    <li>Resizable</li>
    <li>NgRx/state machine support</li>
</ol>
<p>Please feel fee to contribute. Its open source project!</p>
